#jinja2:lstrip_blocks: True
---

teleport:
  data_dir: {{ data_dir | default("/var/lib/teleport") }}
  pid_file: /var/run/teleport.pid
  log:
    output: {{ log.output | default("/var/log/teleport/teleport.log") }}
    severity: {{ log.severity | default("WARN") }}
    format:
      output: {{ log.format | default("json") }}
  {% if node_type in ["main_proxy", "main_auth", "leaf"] %}
  connection_limits:
    max_connections: {{ max_connections | default("10000") }}
    max_users: {{ max_users | default("350")}}
  {% endif %}
  {% if node_type in ["main_proxy", "leaf"] %}
  cache:
    type: in-memory
    enabled: true
    ttl: {{ cache_ttl | default("20h")}}
  {% endif %}
  {% if node_type in ["main_auth", "leaf"] %}
  storage:
    type: dir
    audit_events_uri: ['{{ audit_event_path | default("file:///var/lib/teleport/log") }}']
    audit_sessions_uri: "{{ auth_node.s3.url | mandatory }}"    
  {% endif %}

  {% if node_type in ["main_auth", "leaf"] %}
  auth_servers: ["localhost:3025"]
  {% endif %}
  
  {% if node_type in ["main_proxy", "ssh", "k8s", "application"] %}
  auth_servers: 
    {{ auth_nodes_addr | list | to_nice_yaml(width=1050, indent=1) | indent(4, false) }}
  {% endif %}

  {% if node_type in ['ssh', 'k8s', 'application'] %}
  ca_pin: {{ ca_pin | mandatory}}
  auth_token: {{ auth_token | mandatory }}
  {% endif %}
  
{% if node_type in ["main_proxy", "leaf"] %}
proxy_service:
  enabled: yes
  web_listen_addr: 0.0.0.0:3080
  {% if proxy_node.web_pub_addr is defined and proxy_node.web_pub_addr %}
  public_addr: {{ proxy_node.web_pub_addr }}:3080
  {% endif %}
  listen_addr: 0.0.0.0:3023
  {% if proxy_node.ssh_pub_addr is defined and proxy_node.ssh_pub_addr %}
  ssh_public_addr: {{ proxy_node.ssh_pub_addr }}:3023
  {% endif %}
  tunnel_listen_addr: 0.0.0.0:3024
  {% if proxy_node.tun_pub_addr is defined and proxy_node.tun_pub_addr %}
  tunnel_public_addr: {{ proxy_node.tun_pub_addr }}:3024
  {% endif %}
  kube_listen_addr: 0.0.0.0:3026
  {% if proxy_node.acme.enabled is defined and proxy_node.acme.enabled%}
  acme:
    enabled: {{ proxy_node.acme.enabled }}
    email: {{ proxy_node.acme.email }}
  {% endif %}
{% endif %}

{% if node_type in ["main_auth", "leaf"] %}
auth_service:
  enabled: yes
  cluster_name: {{ auth_node.cluster_name | mandatory }}
  authentication:
    type: local
    local_auth: true
    second_factor: otp
    locking_mode: best_effort
  listen_addr: 0.0.0.0:3025
  session_recording: {{ auth_node.session_recording | default("proxy-sync") }}
  client_idle_timeout: {{ auth_node.client_idle_timeout | default("1h") }}
  disconnect_expired_cert: {{ auth_node.disconnect_expired_cert | default("no") }}
  keep_alive_interval: {{ auth_node.keep_alive_interval | default("5m") }}
  keep_alive_count_max: {{ auth_node.keep_alive_count_max | default("3") }}
  client_idle_timeout_message: "Your connection disconnected due to inactivity"
  message_of_the_day: "Your activity is recorded and kept for auditing"
  {% if auth_node.license_file is defined and auth_node.license_file%}
  license_file: {{ auth_node.license_file }}
  {% endif %}
{% endif %}

ssh_service:
  enabled: yes
  listen_addr: 0.0.0.0:3022
  port_forwarding: {{ ssh_node.port_forwarding | default("false") }}
  {% if ssh_node.labels is defined and ssh_node.labels %}
  labels: 
    {{ ssh_node.labels | to_nice_yaml(width=1050, indent=1) | indent(4, false) }}
  {% endif %}
  {% if ssh_node.commands is defined and ssh_node.commands %}
  commands:
    {{ ssh_node.commands | list | to_nice_yaml(width=1050, indent=1) | indent(4, false) }}
  {% endif %}
  {% if ssh_node.enhanced_recording is defined and ssh_node.enhanced_recording %}
  enhanced_recording:
    enabled: true
    command_buffer_size: 8
    disk_buffer_size: 128
    network_buffer_size: 8
    cgroup_path: {{ ssh_service.cgroup_path | default("/cgroup2") }}
  {% endif %}
  pam:
    enabled: yes
    service_name: "teleport"

{% if node_type == "k8s" %}
kubernetes_service:
  enabled: yes
  listen_addr: 0.0.0.0:3027
  kubeconfig_file: {{ k8s_node.kubeconfig_file | default("/var/lib/teleport/kubeconfig") }}
  {% if k8s_node.labels is defined and k8s_node.labels%}
  labels:
    {{ k8s_node.labels | to_nice_yaml(width=1050, indent=1) | indent(4, false) }}
  {% endif %}
{% endif %}

{% if node_type == "application" %}
app_service:
  enabled: yes
  debug_app: false
  apps:
    {{ application_node.apps | to_nice_yaml(width=1050, indent=1) | indent(4, false) | mandatory }}
{% endif %}
