kind: trusted_cluster
version: v2
metadata:
  name: {{ trusted_cluster.root_cluster_name | mandatory }}
spec:
  enabled: true
  token: {{ auth_token | mandatory }}
  tunnel_addr: {{ trusted_cluster.tunnel_addr }}:3024
  web_proxy_addr: {{ trusted_cluster.proxy_addr }}:443
  role_map: {{ trusted_cluster.role_map | from_yaml }}
